.header{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ececec;
    }
.header__button{
    background-color: transparent;
    border:none;
        @media screen and (min-width: 768px) {
          display: none;
        }
    }
.header__button--icon{
    fill:$brandblack;
    transition: fill 250ms $cubic;
}
// Ящик для лого кнопки и навигации и тд
.header-container{
    display: flex;
    align-items: center;
    justify-content:space-between ;

}
// Фовер фокус бургера
.header__button--icon{
    .header__button:hover &,
    .header__button:focus &
    {
        fill:$brandblue;
    }
}
