/**
|============================
|Секция Преимущества
|============================
*/
  /* Класс для скрытия */
  .hidden {
    appearance: none;
    position: absolute;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  /* Геометрия секции преимущества */
  .benefits-section {
    text-align: center;

  }
  /* Контейнер для иконок */
  .benefits__container {
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  /* Заголовки преимущества */
  .benefits__title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    text-align: center;
    margin-bottom: 10px;
  }



  /* Параграфы преимущества */
  .benefits__text {
    color: $brandgrey;
    line-height: 1.71;
    text-align: left;
  }
