// Кнопка

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
  
    color: #ffffff;
    background-color: $accent-color;
  
    letter-spacing: $hero-letter-spacing;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
  
    cursor: pointer;
    border: none;
  
    transition-property: background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  
    &:hover,
    &:focus {
      background-color: #188CE8;
    }
  }