/**
|============================
|Секция FOOTER
|============================
*/
/* Большой ящик для футера */
.footer{
    margin: 0 auto;
    background-color: $brandbackground;
    padding: 60px 0;
  }
  .footer-container
  { display: flex;
    align-items: baseline;
  }
  /* цвет Студио для футера */
  .footer_logo{
    padding: 0;
    margin-bottom: 20px;
  }
  .header__logo--footer{
    color: #ffffff;
    }
    /* контакты для футера */
    .footer__link{
      padding: 0;
      color: $brandgrey;
      font-style: normal;
      font-weight: 400;
    }
    /* отступ ящика с лого и адресом в футере */
    .footer__left{
      margin-right: 70px;
    } 
    /* отступ между лишками в адрессе */
    .adress__item:not(:last-child){
      margin-bottom: 10px;
    }
    /* Сброс стилей для контактов футера */
    .address__link{
      text-decoration: none;
      font-style: normal;
    }
    /* Оформление адреса для футера */
    .contacts-link--secondary-color{
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      font-style: normal;
    }
    /* Оформление заголовка */
    .subscribe__title{
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    /* Цвета в футере иконок */
    .social__links--border{
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
  
    }
    /* Модификатор цвета для иконок соц в футере */
    .footer__icons--fill{
      fill:#ffff;
    }
  