/**
|============================
|Секция FOOTER
|============================
*/
/* Большой ящик для футера */
.footer{
 background-color: $brandbackground;
 margin-left: auto;
 margin-right: auto;
 padding: 60px 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.footer__left-side{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.logo--footer{
    color: #ffff;
}
 /* цвет Студио для футера */
  .footer_logo{
    padding: 0;
    margin-bottom: 20px;
}

/* контакты для футера */
.footer__link{
      padding: 0;
      color: $brandgrey;
      font-style: normal;
      font-weight: 400;
    }
    .adress__item{
        text-align: center;
    }

    /* отступ между лишками в адрессе */
    .adress__item:not(:last-child){
        margin-bottom: 8px;
      }
      /* Сброс стилей для контактов футера */
      .address__link{
        text-decoration: none;
        font-style: normal;
      }

      /* Оформление адреса для футера */
      .contacts-link--secondary-color{
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        font-style: normal;
      }
      .subscribe-container{
        margin-bottom: 60px;
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      /* Оформление заголовка */
      .subscribe__title{
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      /* Цвета в футере иконок */
      .social__links--border{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
    
      }
      /* Модификатор цвета для иконок соц в футере */
      .footer__icons--fill{
        fill:#ffff;
      }




    /* ФОРМА В ФУТЕРЕ */
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-form__label{
    display: flex;
  }
  .footer-form__input{
    display: block;
    width: 450px;
    margin-bottom: 20px;
    margin-top:20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffff;
    border-radius: 4px;
    padding: 15px;
  }
  /* КНОПКА И ЕЕ ТЕКСТ+ИКОНКА */
  .form__button{
    position: relative;
    background-color: #2196f3;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $cubic;
  }
  .button__text{
    padding: 10px 62px 10px 29px;
  }
  .button__icon{
    position: absolute;
    top: 13px;
    right: 28px;
    fill: #ffff;
  }
  .form__button:hover,.form__button:focus{
    background-color:#188ce8;
  }
  
//   контейнер футера для планшета
@media screen and (min-width:480px)  {
    
}