/* Геометрия логотипа хедера */
.header-logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  /* Стили логотипа */
  .header__logo {
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    color: $brandblue;
  }
  /* модификатор для логотипа хедера */
  .header__logo--header {
    color: #212121;
  }