.hero {
    margin: 0 auto;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 118px 0;
    text-align: center;
  }
  /* заголовок секции герой */
  .hero__title {
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;
  }
        .hero__btn {
        border-radius: 4px;
        cursor: pointer;
        border: none;
        width: 200px;
        height: 50px;
        background-color: $brandblue;
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.06em;
        transition: background-color 250ms $cubic;
        }

          /* ховер-фокус кнопки герой */
        .hero__btn{
            &:hover,&:focus{
        background-color: #188ce8;
            }
            }
