/**
|============================
 ФОРМА ВНУТРИ МОДАЛЬНОГО ОКНА
|============================
*/

.form__title{
    display: flex;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
  }
  .form-label{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-bottom: 10px;
  }
  .form-label__text{
    display: block;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.1;
    text-align: left;
    letter-spacing: 0.01em;
  }
  .form-label__input{
    padding: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $cubic;
    outline: none;
  }
  .form-label__icon{
    position: absolute;
    bottom: 14px;
    left: 14px;
  }
  .form-label{
      &:hover,&:focus{
          border-color: $brandblue;
      }
  }
  .form-label__icon{
    .form-label:hover &{
        fill:$brandblue;
    }
  }

  .form-label__input{
      &:focus{
        border-color: $brandblue;
      }
  }

    .form-label__input:focus + .form-label__icon{
    fill:$brandblue;
  }
  
  /* TEXT_AREA */
  textarea{
    resize: none;
  }
  .form-textarea{
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-bottom: 20px;
  }
  .form-textarea__text{
    width: 448px;
    height: 116px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $cubic;
    outline: none;
  }
  
  .form-textarea__text{
    .form-textarea:hover &{
        border-color: $brandblue;  
    }
  }
  .form-textarea__text{
      &:focus{
        border-color: $brandblue;
      }
  }

  /* ***** */
  /* ЧЕКБОКС */
  .form-checkbox{
    padding: 0;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .checkbox {
    appearance: none;
    position: absolute;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .checkbox__icon {
    border-radius: 2px;
    border: 2px solid #212121;
    fill: #ffff;
    margin-right: 8px;
    transition: background-color 250ms $cubic,
    border 250ms $cubic;
  }
  .checkbox__text {
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
  }
  .checkbox__link {
    text-decoration: underline;
    color: #2196f3;
  }
  .checkbox:checked + .checkbox__icon {
    fill: #ffff;
    background-color: #2196f3;
    border-radius: 2px;
    border: none;
  }
  .checkbox:focus + .checkbox__icon {
    border-color: #188ce8;
  }
  /* ******** */
  /* Кнопка отправить форму */
  .form__button--submit {
    background-color: #2196f3;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $cubic;
  }
    .form__button--submit{
      &:hover,&:focus{
        background-color: #188ce8;  
      }
  }