// Навигация общая

.container__nav {
    position: relative;
    
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  
  
  // Навигация "Студия / Портфолио / Контакты"
  
  .navigation {
    letter-spacing: $secondary-letter-spacing;
    font-weight: 500;
    line-height: 1.14;
  
    @media screen and (max-width: 767.98px) {
      font-size: 40px;
      line-height: 1.17;
    }
  
    @media screen and (max-width: 479.98px) {
      font-size: 25px;
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 88px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  
    &__item:not(:last-child) {
      @media screen and (max-width: 767.98px) {
        margin-bottom: 32px;
      }
    }
  }
  
  .navigation__item:not(:first-child) {
    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
  }
  
  .contact__svg--envelope {
    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }
  
  .contact__svg--phone {
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
  
  
  // Делаем полосу под "Студия" / "Портфолио" при ховере
  
  @media screen and (min-width: 768px) {
    .navigation__item--strip {
      position: relative;
    }
  }
  
  .navigation__link {
    color: $primary-text-color;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  
    &:hover,
    &:focus {
      color: $accent-color;
    }
  
    @media screen and (min-width: 768px) {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
  }
  
  .navigation__link--current {
    color: $accent-color;
  
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      bottom: -1px;
      right: 0px;
      background-color: $accent-color;
      border-radius: 2px;
  
      @media screen and (max-width: 767.98px) {
        display: none;
      }
    }
  }
  