    $brandblue: #2196f3;
    $brandgrey: #757575;
    $brandblack: #212121;
    $brandbackground: #2f303a;
    $footergrey: rgba(255, 255, 255, 0.6);
    $cubic: cubic-bezier(0.4, 0, 0.2, 1);
    $primary-font: 'Roboto', sans-serif;
    $font-logo: 'Raleway', sans-serif;
  